.profile-picture {
  border-radius: 50%;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: rgb(12, 12, 12);

  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  background-color: lightblue;

  margin: 5px;
  max-width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  background-color: lightblue;

  margin: 5px;
  max-width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left,
.right {
  align-items: center;
  justify-content: center;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
}

.name {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2px;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}
